<div class="card">
  <div class="content">
    <div class="ui header">{{title}}<i class="large {{icon}} {{colour}} icon"></i></div>
    <div class="description">
      <div class="ui text"> {{valueA}}{{c}}{{bft}}{{hpa}}</div>
      <div class="ui text"> {{valueB}}{{f}}</div>
      <div class="ui text"> {{lat}}{{str}}{{valueC}}</div>
        <div class="ui text"> {{max}}{{lng}}{{valueD}}<i class="large {{colour}} {{trendy}} icon"></i></div>
        <div class="ui text"> {{min}}{{valueE}}</div>
    </div>
  </div>
</div>