<div class="card">
  <div class="content">
    <div class="ui header">{{title}}</div>
    <div class="description">
      <div class="ui text"> {{valueA}}{{c}}{{bft}}{{hpa}}</div>
      <div class="ui text"> {{valueB}}{{f}}</div>
      <div class="ui text"> {{str}}{{valueC}}</div>
      <div class="ui text"> {{valueD}}</div>
    </div>
  </div>
</div>