{{#each station.readings}}
          <tr>
              <td>
                {{date}}{{reading.date}}
              </td>
            <td>
              {{code}}{{reading.code}}
            </td>
            <td>
              {{temperature}}{{reading.temperature}}
            </td>
              <td>
              {{windSpeed}}{{reading.windSpeed}}
            </td>
            <td>
              {{windDirection}}{{reading.windDirection}}
            </td>
            <td>
              {{pressure}}{{reading.pressure}}
            </td>
              <td>
                  <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui button"><i class="red trash icon"></i></a>
              </td>
          </tr>
        {{/each}}